@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Yantramanav:100&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

img,
video {
  width: 100%;
}

button {
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #da5656;
  border-radius: 5px;
}

button a {
  color: #fff;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}
